<div
  *ngIf="!isFoundData"
  style="
    width: 100%;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <h1>No Data Found</h1>
</div>
<div *ngIf="isFoundData" class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="tableNumber">
      <mat-header-cell *matHeaderCellDef>Table Number </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="isMobileName">
          {{ element.tableNumber }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numberOfSeats">
      <mat-header-cell *matHeaderCellDef>Total Seat </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="isMobileEmail">
          {{ element.numberOfSeats }}
          <span class="isMobileShow">&nbsp;Seated </span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isOccupied">
      <mat-header-cell *matHeaderCellDef>Booking Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="isMobileEmail">
          <span class="isMobileShow">Status:&nbsp; </span>
          {{ element.isOccupied ? "Booked" : "Available" }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="employees">
      <mat-header-cell *matHeaderCellDef>Employees</mat-header-cell>
      <mat-cell *matCellDef="let element" class="align-label">
        <!-- <span class="mobile-label">Employees:</span> -->
        <div
          class="isEmployeeMobile"
          style="display: flex; flex-direction: column; align-items: flex-start"
        >
          <div class="employee-buttons">
            <div
              *ngFor="let employee of element.employees"
              class="d-flex flex-wrap"
            >
              <button
                type="button"
                class="btn employee-btn my-1 d-flex align-items-center"
                (click)="openConfirmationDialog(employee.employeeTableId)"
              >
                <!-- <span>{{ employee.name.split(" ")[0] }}</span> -->
                <span class="mx-1">{{
                  employee.name.split(" ").slice(0, 2).join(" ")
                }}</span>

                <!-- <span >{{ employee.name }}</span> -->

                <span class="material-symbols-outlined text-danger">
                  do_not_disturb_on
                </span>
              </button>
            </div>
          </div>
          <div class="isEmployeeMobile">
            <a
              class="add-employee-button"
              style="cursor: pointer"
              (click)="
                openAssignDialog(
                  element.id,
                  element.numberOfSeats,
                  element.image
                )
              "
            >
              <span
                class="material-symbols-outlined"
                style="color: green; font-size: 30px"
              >
                add_circle
              </span>
            </a>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let element" class="align-bin action-icon">
        <div class="isTableDeleteMobile">
          <a (click)="onDeleteTable(element.id)" class="delete-btn">
            <span
              class="material-symbols-outlined"
              style="color: rgb(204, 9, 10); font-size: 30px"
            >
              delete
            </span>
          </a>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row
      class="mat-header-row"
      *matHeaderRowDef="displayedColumns"
    ></mat-header-row>
    <mat-row
      class="mat-row"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>

  <mat-paginator
    [length]="totalRecords"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
