/* Example styles for the table */
table {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  margin-bottom: 100px;
}

.circular-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

th {
  color: rgb(204, 9, 10);
  font-weight: 700;
}

.employee-btn {
  background-color: rgba(175, 175, 175, 0.3);
  border-radius: 50px;
  min-width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
}
.employee-btn:hover {
  background-color: rgba(200, 50, 50, 0.2);
  border-radius: 50px;
}

.plus-btn {
  fill: rgba(43, 255, 0, 0.7);
}
.plus-btn:hover {
  fill: rgba(7, 41, 0, 0.7);
  background-color: rgba(43, 255, 0, 0.2);
  border-radius: 40px;
}

.mobile-label {
  display: none;
}

@media (max-width: 767px) {
  .mat-elevation-z8 {
    z-index: -1;
    box-shadow: none;
  }

  .mat-mdc-table {
    background-color: transparent;
  }
  .mobile-label {
    width: 50%;
    display: inline-block;
    font-weight: bold;
  }
  .align-label {
    align-items: stretch;
  }
  .align-bin {
    flex-direction: row-reverse;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    /* padding: 24px 24px; */
    padding: 30px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow:
      rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }
  .mat-mdc-cell {
    border: 0px solid white;
    padding: 0px;
    font-size: large;
  }
  .mat-row {
    min-height: 25px !important;
  }
  .employee-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  .isEmployeeMobile {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .isTableDeleteMobile {
    width: 100%;
    text-align: end !important;
  }
}
