<div
  *ngIf="!isFoundData"
  style="
    width: 100%;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <h1>No Data Found</h1>
</div>
<div *ngIf="isFoundData" class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
      <mat-cell *matCellDef="let element" class="food-image">
        <!-- <span class="mobile-label">Image</span> -->
        <img
          [src]="
            'https://restaurantapi.bssoln.com/images/food/' + element.image
          "
          class="circular-image"
          alt="Food Image"
        />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Name:</span>
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Price:</span>
        {{ element.price }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="discountType">
      <mat-header-cell *matHeaderCellDef> Discount Type </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Discount Type:</span>
        {{ element.discountType }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="discount">
      <mat-header-cell *matHeaderCellDef> Discount </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Discount:</span>
        {{ element.discount }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="discountPrice">
      <mat-header-cell *matHeaderCellDef> Discount Price </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Discount Price:</span>
        {{ element.discountPrice }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-icon">
        <div class="row d-flex">
          <div class="col">
            <span
              class="material-symbols-outlined"
              style="color: green; font-size: 30px"
            >
              edit
            </span>
          </div>
          <div class="col">
            <a (click)="onDeleteFood(element.id)" class="delete-btn">
              <span
                class="material-symbols-outlined"
                style="color: red; font-size: 30px"
              >
                delete
              </span>
            </a>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row
      class="mat-header-row"
      *matHeaderRowDef="displayedColumns"
    ></mat-header-row>
    <mat-row
      class="mat-row"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [length]="totalRecords"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
