<div class="container-fluid p-5">
  <div class="row mb-3">
    <div class="col-md-6 d-flex">
      <h2 class="font-heading">Orders</h2>
    </div>
    <div class="col-md-6 d-flex">
      <button
        class="btn add-btn ms-auto"
        type="button"
        routerLink="/dashboard/new-order"
        routerLinkActive="active"
      >
        New Order
      </button>
    </div>
  </div>
  <div class="row">
    <app-card
      title="Example Card"
      subtitle="Subtitle"
      content="This is a sample card component created using Angular Material."
      imageUrl="https://example.com/image.jpg"
      [foods]="[
        {
          image: 'https://example.com/steak.jpg',
          name: 'Steak',
          price: 2000,
          quantity: 1,
        },
        {
          image: 'https://example.com/haleem.jpg',
          name: 'Haleem',
          price: 1400,
          quantity: 1,
        },
        {
          image: 'https://example.com/biryani.jpg',
          name: 'Biryani',
          price: 1000,
          quantity: 1,
        },
      ]"
    ></app-card>
  </div>
</div>
