<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-md-6 d-flex">
      <h2 class="font-heading">Orders</h2>
    </div>
    <div class="col-md-6 d-flex">
      <button
        class="btn add-btn"
        type="button"
        routerLink="/dashboard/new-order"
        routerLinkActive="active"
      >
        New Order
      </button>
    </div>
  </div>
  <div class="order-list-container">
    <div class="row" *ngFor="let orderChunk of chunkedOrders">
      <!-- <app-card *ngFor="let order of orderChunk" [order]="order"></app-card> -->
      <div class="col-md-4" *ngFor="let order of orderChunk">
        <app-card [order]="order"></app-card>
      </div>
    </div>
  </div>
</div>
