.font-heading {
  font-family: Quattrocento, serif;
  font-size: 22px;
  font-weight: 700;
  color: primary;
  padding-bottom: 5px;
  border-bottom: 3px solid #cc080b;
}

.btn {
  border: 2px red solid;
  background-color: white;
  text-transform: uppercase;
}
