<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput name="username" [(ngModel)]="username" #usernameCtrl="ngModel" required  >
          <mat-error *ngIf="usernameCtrl.invalid && usernameCtrl.touched">
            Username is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password" #passwordCtrl="ngModel" required>
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="passwordCtrl.invalid && passwordCtrl.touched">
            Password is required
          </mat-error>
        </mat-form-field>
        <div class="login-button">
          <button mat-flat-button color="danger" type="submit" [disabled]="loginForm.invalid">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  