.bg-image {
  background-image: url("../../assets/images/dash-bg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: fixed;
}
.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d4d6fb73; /* Adjust opacity here (0.5 for 50% opacity) */
}
.login-img {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  height: 100vh;
}

.img-bg-shape {
  z-index: 1;
  height: 100%;
  /* width: 50%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000px;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.25));
}

.img-bg-rotate {
  z-index: 2;
  height: 500px;
  width: 500px;
  filter: drop-shadow(20px 15px 25px #aaaaaa);
  animation: rotate-center 10s infinite linear;
}
.brandName {
  font-size: 2rem;
  text-shadow: 1px 1px rgb(255, 255, 255);
  font-weight: 700;
  color: #cc080b;
  letter-spacing: 3px;
  text-shadow:
    #ffffff 2px 0px 0px,
    #ffffff 1.75517px 0.958851px 0px,
    #ffffff 1.0806px 1.68294px 0px,
    #ffffff 0.141474px 1.99499px 0px,
    #ffffff -0.832294px 1.81859px 0px,
    #ffffff -1.60229px 1.19694px 0px,
    #ffffff -1.97998px 0.28224px 0px,
    #ffffff -1.87291px -0.701566px 0px,
    #ffffff -1.30729px -1.5136px 0px,
    #ffffff -0.421592px -1.95506px 0px,
    #ffffff 0.567324px -1.91785px 0px,
    #ffffff 1.41734px -1.41108px 0px,
    #ffffff 1.92034px -0.558831px 0px;
  margin: 0px;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-card {
  width: 30rem;
  height: 30rem;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
}

/* New CSS for hiding .login-img on mobile devices */
@media (max-width: 767.98px) {
  .side-img {
    visibility: hidden;
    display: none !important;
  }
}
