<div
  *ngIf="!isFoundData"
  style="
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <h1>No Data Found</h1>
</div>

<div *ngIf="isFoundData" class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" class="demo-table">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>Image </mat-header-cell>
      <mat-cell *matCellDef="let element" class="employee-image">
        <img
          [src]="
            'https://restaurantapi.bssoln.com/images/user/' + element.user.image
          "
          class="circular-image"
          alt="User Image"
        />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!-- <span class="mobile-label">Name:</span> -->
        <div class="isMobileName">
          {{ element.user.fullName }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="isMobileEmail">
          {{ element.user.email }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="designation">
      <mat-header-cell *matHeaderCellDef> Designation </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="isMobileEmail">
          <span class="isMobileShow">Designation:&nbsp;</span>
          {{ element.designation }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="joinDate">
      <mat-header-cell *matHeaderCellDef> Join Date:</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="isMobileEmail">
          <span class="isMobileShow">Joined on&nbsp; </span>

          {{ element.joinDate }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="isMobileEmail">
          <span class="isMobileShow">Phone:&nbsp; </span>
          {{ element.user.phoneNumber }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="text-center">
        Action
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-icon">
        <div class="mx-1">
          <a>
            <span
              class="material-symbols-outlined"
              style="color: green; font-size: 30px"
            >
              edit
            </span>
          </a>
        </div>
        <div class="mx-1">
          <a (click)="onDelete(element.id)" class="delete-btn">
            <span
              class="material-symbols-outlined"
              style="color: rgb(204, 9, 10); font-size: 30px"
            >
              delete
            </span>
          </a>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row
      class="mat-header-row"
      *matHeaderRowDef="displayedColumns"
    ></mat-header-row>
    <mat-row
      class="mat-row"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [length]="totalRecords"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
