<div
  *ngIf="!isFoundData"
  style="
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <h1>No Data Found</h1>
</div>

<div *ngIf="isFoundData" class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" class="demo-table">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>Image </mat-header-cell>
      <mat-cell *matCellDef="let element" class="employee-image">
        <img
          [src]="
            'https://restaurantapi.bssoln.com/images/user/' + element.user.image
          "
          class="circular-image"
          alt="User Image"
        />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Name:</span>
        {{ element.user.fullName }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Email:</span>
        {{ element.user.email }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="designation">
      <mat-header-cell *matHeaderCellDef> Designation </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Designation:</span>
        {{ element.designation }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="joinDate">
      <mat-header-cell *matHeaderCellDef> Join Date </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Join Date:</span>
        {{ element.joinDate }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Phone:</span>
        {{ element.user.phoneNumber }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="text-center">
        Action
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-icon">
        <div class="row d-flex">
          <div class="col">
            <a>
              <span
                class="material-symbols-outlined"
                style="color: green; font-size: 30px"
              >
                edit
              </span>
            </a>
          </div>
          <div class="col">
            <a (click)="onDelete(element.id)" class="delete-btn">
              <span
                class="material-symbols-outlined"
                style="color: red; font-size: 30px"
              >
                delete
              </span>
            </a>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row
      class="mat-header-row"
      *matHeaderRowDef="displayedColumns"
    ></mat-header-row>
    <mat-row
      class="mat-row"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [length]="totalRecords"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
