.navbar {
  background-color: rgb(200, 50, 50);
  color: white !important;
  border-radius: 10px;
}
.navbar a {
  text-decoration: none;
}
.navbar a span {
  color: white;
  font-weight: 700;
  font-size: 25px;
  text-shadow: 2px 2px grey;
}

.logout-btn {
  display: none;
  visibility: hidden;
}
@media (max-width: 767px) {
  .logout-btn {
    display: block;
    visibility: visible;
    background-color: white !important;
    color: rgb(200, 50, 50);
    font-weight: 600;
    margin-left: 15px;
  }
}
