/* You can add global styles to this file, and also import other style files */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(200, 50, 50);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(200, 50, 50);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

* {
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
}

.add-btn {
  border: 2px red solid;
  background-color: white;
}
.add-btn:hover {
  background-color: rgb(200, 50, 50);
  color: white;
}

.font-heading {
  font-size: 22px;
  font-weight: 700;
  color: primary;
  padding-bottom: 5px;
  border-bottom: 3px solid #cc080b;
}

/* .scroll {
  height: 100vh;
  overflow-y: auto;
} */
